// Nothing here yet
.section-title {
    margin-bottom:2em;
}
.is-featured {
    padding: 3rem 0;
    background-color: transparent;
}

.slide-prev, .slide-next {
    background:#000;
    border: none;
    color: #FFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2.2em 1em;
    z-index: 10;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s ease all;

    i {
        font-size:0.8rem;
    }

    &:hover {
        opacity: 0.6;
    }

}

.slide-prev {
    left: 0;
}

.slide-next {
    right: 0;
}

.is-activity {
    height: 25em;
    border-radius: 6px;
    position: relative;
    cursor: pointer;



    .is-post-type {
        padding:1em;
    }

    .was-posted-by {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        img {
            border-radius: 50%;
        }
    }

    .is-activity-data {
        position: absolute;
        bottom: 10px;
        left: 20px;
        z-index: 2;
        h3, p {
            color: #FFF;
        }

        h3 {
            font-size:0.9rem;
            font-weight: bold;
        }
        p {
            font-size: 0.9rem;
            margin-top:.5em;
        }
    }

    &:hover {
        &:after {
            opacity: 0.1;
            transition: 0.3s ease all;
        }
    }

    &:after {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.6;
        height: 100%;
        width: 100%;
        content:"";
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        transition: 0.3s ease all;
    }

}

.featured {
    margin: 30px 0 80px;
}

.slide {
    margin: 0 1em;
    border-radius: 6px;
    outline: none !important;
    position: relative;
    height:22em;

    &:hover {
        &:after {
            opacity: 0.1;
            transition: 0.3s ease all;
        }
    }

    &:after {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.3;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        content:"";
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        transition: 0.3s ease all;
    }

    .is-slide-data {
        position: absolute;
        bottom: 30px;
        left: 20px;
        z-index: 2;

        h3 {
            font-size:0.9rem;
            color: #FFF;
        }

        p {
            color: #FFF;
            margin-top:0.5em;
            font-size: 1.1rem;
        }

    }

}

.slick-slide {
    cursor: pointer;
}

.card {

    p.is-feed-description {
        min-height: 3rem;
    }

    .is-feed-type {
        position: absolute;
        top: 1em;
        left: 1em;
    }

    img {

    }


    .is-action-bar {

        .is-left-actions {
            float: left;
        }

        .is-right-actions {
            float: right;

            span {
                vertical-align: middle;
                font-size:0.9rem;
            }

            .material-icons {
                vertical-align: middle;
            }

        }

    }

}
